.header__component {
  width: 95%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem 1rem;

  img {
    width: 70px;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
  }

  img:nth-child(2) {
    width: 50px;
  }
}
